/*** navigation bar ***/
#navbar {
    position: absolute;
    width: 100vw;
    height: 30px;
    top: calc(100vh - 30px);
    background: #000;
}
#navbar-left, #navbar-right, #navbar-center {
    position: absolute;
    top: 4px;
    text-transform: capitalize;
}
#navbar-center {
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
}
#navbar-left {
    left: 5px;
}
#navbar-right {
    right: 5px;
}
